{% extends 'main.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}

<a href="{% url 'store1:store' %}">Store1</a>
<hr>
<a href="{% url 'math:index' %}">Math</a>
<div class="row"> 

 
 {% for product in products %}
  <div class="col-lg-4 my-4">

    <div class="card" style="width: 18rem;">
   
      <img class="thumbnail" src="{{product.imageURL}}" alt="Card image cap">
   
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <hr>
      
        <button data-product = {{product.id}} data-action="add"  class="btn btn-outline-secondary update-cart">Add to cart</button>
        <a href="#" class="btn btn-outline-success">view</a>
        <h5 style="float: right;" class="d-inline-block"> {{product.price}}$</h5>  
      </div>
    </div>
  </div>
 
{% endfor %}
  
</div> 






{% endblock content %}