{% extends 'main.html' %}

{% block title %}Store1{% endblock title %}

{% block content %}


<div class="row"> 
  {% for product in products %}
  <div class="col-lg-4 my-4">
    <div class="card" style="width: 18rem;">
   
      <img class="thumbnail" src="{{product.imageURL}}" alt="Card image cap">
   
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <hr>
      
        <a href="{% url 'store1:cart' %}" class="btn btn-outline-secondary">Add to cart</a>
        <a href="#" class="btn btn-outline-success">view</a>
        <h5 style="float: right;" class="d-inline-block"> {{product.price}}$</h5>  
      </div>
    </div>
  </div>
  {% endfor %}
 
</div> 


{% endblock content %}